{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
<div class="mb-4 container">
  <div class="d-flex flex-column justify-content-center my-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <h2>List of Books</h2>
    </div>
  </div>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">Publisher</th>
      </tr>
    </thead>
    <tbody>
      {% for book in data['books'] %}
        <tr class="align-middle">
          <td>
            <button data-bs-toggle="modal" data-bs-target="#biggerImageModal{{ book.id }}"  class="btn rounded">
              <img class="rounded" src="{{ url_for('static', filename='/images/uploads/' + book.image_filename) }}" width="100px" height="100px" />
            </button>
          </td>
          <td>{{ book.title }}</td>
          <td>{{ book.writer }}</td>
          <td>{{ book.publisher }}</td>
        </tr>

        <!-- Image Modal -->
        <div class="modal fade" id="biggerImageModal{{ book.id }}" aria-labelledby="biggerImageModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fw-bold">{{ book.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img class="rounded w-100" src="{{ url_for('static', filename='/images/uploads/' + book.image_filename) }}"/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}