{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block content %}
<div class="mb-4 container">
  <div class="d-flex flex-column justify-content-center my-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <h2>List of Books</h2>
      <button type="button" class="btn btn-primary fw-bold" data-bs-toggle="modal" data-bs-target="#addBookModal">
        Add New Book
      </button>
    </div>
  </div>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">Publisher</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for book in data['books'] %}
        <tr class="align-middle">
          <td>
            <button data-bs-toggle="modal" data-bs-target="#biggerImageModal{{ book.id }}"  class="btn rounded">
              <img class="rounded" src="{{ url_for('static', filename='/images/uploads/' + book.image_filename) }}" width="100px" height="100px" />
            </button>
          </td>
          <td>{{ book.title }}</td>
          <td>{{ book.writer }}</td>
          <td>{{ book.publisher }}</td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-xs fw-bold text-white me-1"
              data-bs-toggle="modal"
              data-bs-target="#updateBookModal{{ book.id }}"
            >
              Edit
            </button>
            <a
              class="btn btn-danger btn-xs fw-bold"
              href="{{ url_for('admin.book_delete', id=book.id) }}"
              onclick="return confirm('Are You Sure To Delete ?')"
            >
              Delete
            </a>
          </td>
        </tr>

        <!-- Image Modal -->
        <div class="modal fade" id="biggerImageModal{{ book.id }}" aria-labelledby="biggerImageModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title fw-bold">{{ book.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img class="rounded w-100" src="{{ url_for('static', filename='/images/uploads/' + book.image_filename) }}"/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Update Book Info Modal -->
        <div id="updateBookModal{{ book.id }}" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title fw-bold">Update Book</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{{ url_for('admin.book_update') }}" method="POST" enctype="multipart/form-data">
                  <input type="hidden" class="form-control" name="id" value="{{ book.id }}">
                  <div class="mb-2">
                    <label class="form-label fw-bold">Title</label>
                    <input type="text" class="form-control" name="title" required="1" value="{{ book.title }}">
                  </div>
                  <div class="mb-2">
                    <label class="form-label fw-bold">Writer</label>
                    <input type="text" class="form-control" name="writer" required="1" value="{{ book.writer }}">
                  </div>
                  <div class="mb-2">
                    <label class="form-label fw-bold">Publisher</label>
                    <input type="text" class="form-control" name="publisher" required="1" value="{{ book.publisher }}">
                  </div>
                  <div class="w-100 mb-2">
                    <label class="form-label fw-bold" for="input-photo">Pictures</label>
                    <input type="file" class="form-control" id="input-photo" name="image" value="{{ book.image_filename }}">
                  </div>
                  <div class="mb-2 mt-4 w-100">
                    <button class="btn btn-primary fw-bold w-100" type="submit">Confirm</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </tbody>

  </table>

  <!-- Add New Book Modal -->
  <div id="addBookModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fw-bold">New Book</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('admin.book_create') }}" method="POST" enctype="multipart/form-data">
            <div class="mb-2">
              <label class="form-label fw-bold">Title</label>
              <input type="text" class="form-control" name="title" required="1">
            </div>
            <div class="mb-2">
              <label class="form-label fw-bold">Writer</label>
              <input type="text" class="form-control" name="writer" required="1">
            </div>
            <div class="mb-2">
              <label class="form-label fw-bold">Publisher</label>
              <input type="text" class="form-control" name="publisher" required="1">
            </div>
            <div class="w-100 mb-2">
              <label class="form-label fw-bold" for="input-photo">Pictures</label>
              <input type="file" class="form-control" id="input-photo" name="image" required>
            </div>
            <div class="mb-2 mt-4 w-100">
              <button class="btn btn-primary w-100 fw-bold" type="submit">Confirm</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}